/* Collections.css */
.collectionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.collectionTitle {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.collectionItem {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.collectionItem img {
    max-width: 100%;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .collectionsContainer {
        padding: 10px;
    }

    .collectionItem {
        width: 100%;
    }
}
